/*************** Header and Search Bar/Button  *********************/
.contain-books {
  padding-top: 3em;
  padding-bottom: 3em;
}

.title {
  text-align: center;
}

.contain-books-search {
  position: relative;
  width: 100%;
  top: 0;
  border-bottom: .707rem solid #7874f2;
}

.search-books {
  font-family: 'Passion One';
  font-size: 1.999em;
  width: 100%;
  padding: 0 .707em;
  border: none;
}

.search-message {
  padding: 1rem;
  text-align: center;
}

.to-shelves {
  text-decoration: none;
  color: #140F99;
  display: inline-block;
  padding: 1rem;
}

.to-shelves-container {
  text-align: center;
}

.add-books-btn {
  background-color: #7874f2;
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  font-size: 1.414em;
  border-radius: .707rem;
  padding: .5rem 1rem;
}

.add-books-btn:focus {
  box-shadow: 0 0 8px #140F99;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #140F99;
}

.add-books-btn-link {
  width: fit-content;
  text-decoration: none;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*************** Shelves  *********************/

.shelf-top {
  padding: 0 1rem;
}

.shelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 1rem;
}

.current-reads {
  border-bottom: .707rem solid #dfe2fe;
}

.shelf-top.current-reads {
  border-bottom: .707rem solid #dfe2fe;
}

.want-to-read {
  border-bottom: .707rem solid #b1cbfa;
}

.shelf-top.want-to-read {
  border-bottom: .707rem solid #b1cbfa;
}

.read {
  border-bottom: .707rem solid #8e98f5;
}

.shelf-top.read {
  border-bottom: .707rem solid #8e98f5;
}
/*************** Books *********************/
.book-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 12em;
  padding: .5rem 1rem;
}

.book-image {
  padding: 1rem 1rem 0;
}

.book-title {
  margin: 0;
  max-width: 12rem;
  padding: .707rem 0;
}

.book-author {
  margin: 0;
}

.book-status {

}

.book-status-dropdown {
  background-color: #7874f2;
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.707em;
}

.book-status-dropdown:focus {
  box-shadow: 0 0 8px #140F99;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #140F99;
}
