/*************** Header and Search Bar  *********************/
.contain-books {
  padding-top: 4em;
}

.title {
  text-align: center;
}

.contain-books-search {
  position: relative;
  width: 100%;
  top: 0;
  border-bottom: .707rem solid #7874f2;
}

.search-books {
  font-family: 'Passion One';
  font-size: 1.999em;
  width: 100%;
  padding: 0 .707em;
  border: none;
}

.search-message {
  padding: 1rem;
  text-align: center;
}

/*************** Shelves  *********************/

.shelf-top {
  padding: 0 1rem;
}

.shelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.current-reads {
  border-bottom: .707rem solid #dfe2fe;
}

.shelf-top.current-reads {
  border-bottom: .707rem solid #dfe2fe;
}

.want-to-read {
  border-bottom: .707rem solid #b1cbfa;
}

.shelf-top.want-to-read {
  border-bottom: .707rem solid #b1cbfa;
}

.read {
  border-bottom: .707rem solid #8e98f5;
}

.shelf-top.read {
  border-bottom: .707rem solid #8e98f5;
}
/*************** Books *********************/
.book-info {
  width: fit-content;
  display: inline-block;
  text-align: center;
  min-height: 17rem;
  vertical-align: middle;
  min-width: 12rem;
}

.book-image {
  padding: 1rem 1rem 0;
}

.book-title {
  margin: 0;
  max-width: 12rem;
}

.book-author {
  padding: 0 1rem 1rem;
  margin: 0;
}
