/*************** Header and Search Bar  *********************/
.contain-books {
  padding-top: 4em;
}

.title {
  text-align: center;
}

.contain-books-search {
  position: relative;
  width: 100%;
  top: 0;
  border-bottom: .707rem solid #7874f2;
}

.search-books {
  font-family: 'Passion One';
  font-size: 1.999em;
  width: 100%;
  padding: 0 .707em;
  border: none;
}

.search-message {
  padding: 1rem;
  text-align: center;
}

/*************** Shelves  *********************/
.shelf {
  padding: 1rem;
}

/*************** Books *********************/
.book-info {
  width: fit-content;
  display: inline-block;
  text-align: center;
}

.book-image {
  padding: 0 1rem;

}

.book-title {
  padding: 0px 1rem;
  margin: 0;
}

.book-author {
  padding: 0px 1rem;
  margin: 0;
}
