@import url('https://fonts.googleapis.com/css?family=Open+Sans|Passion+One');

/* Font scale Augmented Four, base 16px */
html {font-size: 1rem; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p { margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-family: 'Passion One';
  margin-top: 0;
  font-size: 3.998em;
}

h2 { font-family: 'Passion One'; font-size: 2.827em; }
h3 { font-family: 'Passion One'; font-size: 1.999em; }
h4 { font-family: 'Passion One'; font-size: 1.414em; }

small, .font_small { font-size: 0.707em; }
